body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: beige;
}

@font-face {
    font-family: digital;
    src: url('DS-DIGI.TTF') format('truetype');
}

#calculator {
    display: flex;
    min-width: 25vw;
    max-width: min-content;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: rgb(121, 121, 121, 0.6);
    border-radius: 4%;
    
}

#display {
    flex: 4 1 auto;
    display: flex;
    height: 15vh;
    margin: 3%;
    padding: 3% 3% 3% 3%;
    border-width: 1%;
    border-color: black;
    border-style: solid;
    font-size: 4vmax;
    font-family: digital, Arial, Helvetica, sans-serif;
    font-weight: 500;
    align-items: end;
    justify-content: end;
    overflow-wrap: anywhere;
    overflow: hidden;
    background-color: rgba(95, 119, 95, 0.6);
}

#buttons {
    display: flex;
    flex: 2 1 auto;
    padding: 0 3% 3% 3%;
}

#leftside {
    flex: 4 1 0;
    margin-right: 3%;
}

#rightside {
    display: flex;
    gap: 2.5%;
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 3%;
}

#firstleftline {
    display: flex;
    gap: 4%;
    margin-bottom: 4%;
    
}

#restleftlines {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
}

.equalClear {
    padding: 10%;
    background-color: rgb(255, 81, 81, 0.9);
    border-radius: 10%;
    font-weight: bold;
    border-width: 3px;
    font-size: large;

}

.previous {
    flex: 1 1 0;
}

.all {
    flex: 4 1 auto;
}

.numberbutton {
    flex: 1 1 auto;
    padding: 10%;
    margin-bottom: 4%;
    border-radius: 10%;
    font-weight: bold;
    border-width: 3px;
    font-size: large;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
}

.equals {
    background-color: rgb(255, 81, 81, 0.9);
    color: black;
}

.operators {
    padding: 15%;
    flex: 1 1 0;
    border-radius: 10%;
    font-weight: bold;
    border-width: 3px;
    font-size: large;

}

.plus {
    flex: 1 1 27.4%;
}